﻿
* {
    margin: 0;
    padding: 0;
}
.paginate_button {
    padding-left:3px;
    padding-right: 3px;
}

.aj {
    position: absolute;
    opacity: 0.4;
    width: 100%;
}


.paginate_button {
    cursor: pointer;
}

.paginate_button.current {
    color: grey;
}

.ajax-background-whitesmoke-1 {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    opacity: 0.2;
    left: 0;
    top: 0;
}

.ajax-wrapper-1 {
    color: black;
    z-index: 3;
    height: 150px;
    width: 250px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    border-radius: 15px 50px 15px;
    text-align: center;
    color: black;
    opacity:0.6;
}

.ajax-wrapper-1__text {
    color: black;
    padding-top: 20%;
    z-index: 4;
}

.fg-#6c757d {
    color: #6c757d;
}

.bg-blue {
    background-color: #005AA1;
}

.fg-blue {
    color: #005AA1;
}

.bg-none {
    background: none;
}

.cursor {
    cursor: pointer;
}

/*accordion-1*/
.accordion-1__span, .accordion-1__input {
    display: none;
}


    .accordion-1__input:checked ~ .accordion-1__span {
        display: block;
    }

.accordion-1__div {
    display: inline-grid;
}

.text-align-center {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.item-hover:hover {
    background-color: #dcdbdb
}

.item-hover-4D90FE:hover {
    color: #4D90FE;
}

.break-word-1 {
    word-break: break-word;
}


@media screen and (max-width: 255px) {
    #navbar-toggler-1 {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .img-full {
        height: 100%;
        width: 100%;
        object-fit: cover;
        height: 4rem;
    }

    .img-full-1 {
        height: 100%;
        width: 100%;
        object-fit: cover;
        height: 25vw;
    }

    .overfow-x-auto {
        overflow-x: auto;
    }
}


@media screen and (min-width: 576px) {
    .img-full-sm {
        height: 100%;
        width: 100%;
        object-fit: cover;
        height: 5rem;
    }

    .img-full-sm-1 {
        height: 100%;
        width: 100%;
        object-fit: cover;
        height: 27vw;
    }
}


@media screen and (min-width: 768px) {
    .img-full-md {
        height: 4.5rem
    }

    .img-full-md-1 {
        height: 19vw;
    }

    #img-symbol {
        width: 90px;
        height: 60px
    }
}

@media screen and (min-width: 992px) {
    .img-full-lg {
        height: 5rem;
    }

    .img-full-lg-1 {
        height: 15vw;
    }

    .break-word {
        word-break: break-word;
    }
}

@media screen and (min-width: 1200px) {
    .img-full-xl {
        height: 5.5rem;
    }

    .img-full-xl-1 {
        height: 12vw;
    }
}
